# Publisher Verification

Nurl Sanctum uses a proprietary verification process to ensure that the content you are creating is in compliance with IP you have rights to.

To put it simply, we help enforce your rights as a publisher in a safe and welcoming environment.

## Overview

In Nurl Sanctum, we offer specific features to verified publishers. This is to ensure that the content you are creating is in compliance with IP you have rights to.

**Verified publishers can:**

- Create new game systems.
- Validate or create custom licenses for your game systems.
- Extend existing game systems.
- Confirm/Reject extended game systems by other users.

**Non-verified publishers can only:**

- Extend existing game systems.

Basically, verified publishers have more control over creating and verifying any content that is associated with their game systems. By all means, you have "official" rights that we help you enforce.

## About the Verification Process

To verify as a publisher, you need to have a few things in place:

- A contact email address.
- A official website URL.
- A physical address.
- History of your work as a publisher.

You will provide this information when you submit a verification request. Once you have submitted the request, we will review it to validate the information you provided to ensure that you are a legitimate publisher.

## Non-Profit and Educational Organizations

If you are a non-profit or educational organization, we welcome you to verify as a publisher. We will review your request and get back to you on the status of your verification.

## How to Verify

You can verify as a publisher by one of two ways:

1. Click the "Verify as Publisher" button during the signup process.
2. Click the "Verify as Publisher" button in the top right corner of the dashboard page.

Once you click the button, you will be navigated to a new page where you will be able to submit a verification request by filling out an in-depth form.

## Verification Process

Once you have submitted a verification request, we will review it to validate the information you provided to ensure that you are a legitimate publisher.

Each verification request is reviewed by an actual human on our team to ensure that the information you provided is accurate and that you are a legitimate publisher.

Depending on the complexity of the request, this process can take up to 72 business hours to complete.

### Verification Statuses

Upon submission, your verification request will be in a pending state. Once we have reviewed your request, we will update the status to either verified or rejected.

#### Pending

Your verification request is currently being reviewed by our team.

#### Rejected

Your verification request has been rejected. We will provide you with a reason for the rejection so you may amend your request and resubmit it when you have corrected the issues.

#### Needs Info

Your verification request is currently being reviewed by our team. We need more information from you to complete the verification process. For example, we may ask for more resources if you are a new publisher that has not yet established an online presence.

This is not uncommon and is a normal part of the verification process.

#### Verified

Your verification request has been approved and you are now a verified publisher.

## Post-Verification

Once you have been verified, you will see a new [workspace](https://nurlttrpg.com/docs/workspace-management) section in the dashboard. This is where you will be able to add repositories and manage collaborators.

For any future work, you should essentially use this workspace to manage anything related to your Publisher account.

## Extended Game Systems

Once you have been verified, you will be able confirm or reject extended game systems by other users. This means that any other user who wishes to extend your game system will automagically send a request to you.

You will receive an email notification for each request. You can then log in to your dashboard to confirm or reject the request.

If you reject a request, you can provide a reason for the rejection so the user can amend their request and resubmit it.

This is a great way to get feedback on your game systems and to ensure that the content you are creating is in compliance with IP you have rights to.
